/* Add any specific menu styles here */
.mobile-menu {
  transition: all 0.3s ease-in-out;
}

.mobile-menu-enter {
  opacity: 0;
  transform: translateX(100%);
}

.mobile-menu-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.mobile-menu-exit {
  opacity: 1;
  transform: translateX(0);
}

.mobile-menu-exit-active {
  opacity: 0;
  transform: translateX(100%);
}